.container{
	width: 1200px;
	margin: 0 auto;
}
.cols{
	display:flex;
}
.col25{
	flex-basis: 25%;
}
.col30{
	flex-basis: 33.33%;
}
.col50{
	flex-basis: 50%;
}
.col60{
	flex-basis: 66.66%;
}
@media only screen and (min-width: 960px) and (max-width: 1279px)  {
	.container{
		width: 960px;
	}
}
@media only screen and (min-width: 760px) and (max-width: 959px)  {
	.container{
		width: 760px;
	}
}
