.container{
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.cols{
	display:flex;
}
.col25{
	flex-basis: 25%;
}
.col30{
	flex-basis: 33.33%;
}
.col50{
	flex-basis: 50%;
}
.col60{
	flex-basis: 66.66%;
}
.only-mobile{
	display: none;
}
@media only screen and (min-width: 960px) and (max-width: 1279px)  {
	.container{
		width: 960px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 959px)  {
	.container{
		width: 760px;
	}
	.only-mobile{
		display: block;
	}
}
@media only screen and (min-width: 320px) and (max-width: 759px)  {
	.container{
		width: 100%;
	}
	.cols{
		display: block;
	}
	.col25, .col30, .col50, .col60{
		width: 100%;
	}
}
