// Typography
$base-font-family: arial, helvetica, sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size:14px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #4791ff;
$green: #3dd1a9;
$red:#ff6e6e;
$dark-gray: #444;
$medium-gray: #999;
$light-gray: #fafbfc;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 250ms;
$base-timing: ease;
@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
      display: block;
      content: " ";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}