article{
  flex-basis:900px;
  padding-left: 40px;

  ul, ol{
    padding: 20px 0 20px 40px;
  }
  ul > li > ul, ol > li > ul{
    padding-left: 5px;
    > li{
      list-style: none;
      &:before{
        content: '−';
        padding-right: 5px;
      }
    }
  }
  dl{
    padding: 10px 0 20px 25px;
    dt{
      font-weight: bold;
    }
    dd{
      margin-left: 0;
      margin-bottom: 15px;
    }
  }
  span.light{
    color: $medium-gray;
  }
  hr{
    border-color: #ededed;
  }
}