.checkout{
  padding: 40px 0;
  overflow: hidden;
  .container{
    display: flex;
    align-items: flex-start;
  }

  article{
    .icon-confirmation{
      float: left;
      display: inline-block;
      width: 45px;
      margin-right: 20px;
    }
  }
  .button{
    display: inline-block;
  }
  @media only screen and (min-width: 320px) and (max-width: 759px) {
    .container{
      flex-direction: column;
      aside{
        order:2;
      }
      article{
        order:1;
      }
    }
  }
}