.product{
  padding-top: 40px;
  overflow: hidden;
  .container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  article{
    h4{
      margin-top:30px;
      padding-bottom: 15px;
    }
    h3{
      margin-top:60px;
      padding-bottom: 20px;
    }
    h1 + h3{
      margin-top:0px;
    }
    h1 + p{
      margin-top: 20px;
    }
  }
  .image-border{
    margin-bottom: 30px;
    img{
      padding: 7px;
      border-radius: 5px;
      border: 1px solid darken($light-gray, 5%);
    }
  }
  p + .image-border{
    margin-top: 30px;
  }
  .screenshots, .videos{
    img, .video{
      width: 100%;
      padding: 7px;
      border-radius: 5px;
      border: 1px solid darken($light-gray, 5%);
    }

    .cols{
      align-content:stretch;
    }
    .col{
      padding-right: 10px;
      flex-grow: 1;
      &:last-child{
        padding-right: 0;
      }
    }
    .caption{
      text-align: center;
      padding-top: 5px;
    }
  }
  pre{
    border: 1px solid #ededed;
    background-color: #fafbfc;
    font-size: 12px;
    padding: 30px 40px;
    border-radius: 6px;
    color: #666;
    overflow: scroll;
    @media only screen and (min-width: 320px) and (max-width: 1199px)  {
      width: 655px;
    }
    @media only screen and (min-width: 320px) and (max-width: 959px)  {
      width: 455px;
    }
    @media only screen and (min-width: 640px) and (max-width: 759px)  {
      width: 600px;
      padding: 20px 10px;
    }
    @media only screen and (min-width: 480px) and (max-width: 639px)  {
      width: 440px;
      padding: 20px 10px;
    }
    @media only screen and (min-width: 320px)  and (max-width: 479px){
      width: 290px;
      padding: 20px 10px;
    }
  }
  .copy-code{
    border: 1px solid #ededed;
    background-color: #fafbfc;
    font-size: 12px;
    padding: 10px 40px;
    border-radius: 6px;
    color: #666;
    text-align: center;
    vertical-align: middle;
    a{
      display: inline-block;
      padding: 0;
      margin: 0;
      line-height: 33px;
      &:before{
        content: url('/assets/images/icons/copy.png');
        zoom:50%;
        padding-right: 15px;
        float: left;
        height: 33px;
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 1199px)  {
      width: 655px;
    }
    @media only screen and (min-width: 320px) and (max-width: 959px)  {
      width: 455px;
    }
    @media only screen and (min-width: 640px) and (max-width: 759px)  {
      width: 600px;
    }
    @media only screen and (min-width: 480px) and (max-width: 639px)  {
      width: 440px;
    }
    @media only screen and (min-width: 320px)  and (max-width: 479px){
      width: 290px;
    }
  }
  .related-products{
    padding-bottom: 60px;
    .view-all{
      float: right;
      font-size: 18px;
      padding-top: 35px;
    }
    .col{
      padding-right: 30px;
      &:last-child{
        padding-right: 0;
      }
    }
    @media only screen and (min-width: 320px) and (max-width: 959px)  {
      display: none;
    }
  }
}
.products-page{
  h1{
    padding-bottom: 30px;
  }
  .products-list{
    overflow: hidden;
    padding-bottom: 40px;
  }
  .product-block{
    width: 25%;
    padding-right: 30px;
    display: inline-block;
    float: left;
  }
  @media only screen and (min-width: 320px) and (max-width: 959px)  {
    .product-block{width: 50%;}
  }
  @media only screen and (min-width: 320px) and (max-width: 599px)  {
    .product-block{width: 100%;}
  }
}