---
title: PZ - Help Page
---

%header.navigation
  .container
    .logo
      =link_to image_tag('pz-logo.png', alt: 'PZ Logo'), '/'
    #js-mobile-menu.navigation-menu-button=link_to '&#9776;', 'javascript:void(0)'
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li#js-navigation-more.nav-link.more
          =link_to 'Products', 'javascript:void(0)'
          %ul.submenu
            %li=link_to 'Indicators', 'products'
            %li=link_to 'Expert Advisors', 'products'
            %li=link_to 'Free Download', 'products'
        %li.nav-link=link_to 'Cashback Program', 'cashback-program'
        %li.nav-link=link_to 'Help', 'help-page'
    .social
      =link_to image_tag('icons/fb.svg', alt: 'facebook'), 'http://www.facebook.com', target: '_blank'
      =link_to image_tag('icons/tw.svg', alt: 'twitter'), 'http://www.twitter.com', target: '_blank'
    .search
      %form
        %input{type: 'text', placeholder: 'Search..'}
%section
  .breadcrumb
    .container
      %ul
        %li=link_to 'Home', '/'
        %li Help
%section.page-help
  .container
    %h1 Customer Support
    %h3 Please find answers to the most common questions below.
    .cols.css-lightboxes
      .col
        %h4 General Questions
        %ul
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content02", :href => "javascript:;"}
              How are products delivered?
            .hidden#hidden-content02
              .inner
                %h5 How are products delivered?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/download.png", :width => "420"}
                %p After the purchase, a permanent download link is sent to your inbox from which you can download your indicator or EA. This link will always be available in the future, should you need to download the product again.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content03", :href => "javascript:;"}
              How long does delivery take?
            .hidden#hidden-content03
              .inner
                %h5 How long does delivery take?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/download.png", :width => "420"}
                %p The delivery is automatic and should only take a few minutes to arrive, but if the mail delays it can take a few hours. Please check your spam folder as well, as the delivery email might be filtered as spam by your email provider.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content04", :href => "javascript:;"}
              Is the installation difficult?
            .hidden#hidden-content04
              .inner
                %h5 Is the installation difficult?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/data_folder.png", :width => "420"}
                  %p Absolutely not. It is just like installing any other indicator or expert advisor in your metatrader data folder. Before purchasing, make sure to download any of our free indicators or EAs to learn how to install them.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content05", :href => "javascript:;"}
              Do I have to pay for future updates?
            .hidden#hidden-content05
              .inner
                %h5 Do I have to pay for future updates?
                %p Not at all. Updates will always be free for previous customers.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content06", :href => "javascript:;"}
              How do I download future updates?
            .hidden#hidden-content06
              .inner
                %h5 How do I download future updates?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/download.png", :width => "420"}
                %p When an indicator or expert advisor is updated, you will receive a notification email. All you need to do is visiting your private download link again, and downloading the update to your computer.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content07", :href => "javascript:;"}
              What Metatrader version do I need?
            .hidden#hidden-content07
              .inner
                %h5 What Metatrader version do I need?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/version.png", :width => "420"}
                %p At least Metatrader4 b600 is required for all of our products.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content08", :href => "javascript:;"}
              Can I get the source code of the product?
            .hidden#hidden-content08
              .inner
                %h5 Can I get the source code of the product?
                %p No, you can't. Only .ex4 files are distributed, for obvious reasons.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content09", :href => "javascript:;"}
              What payment methods do you accept?
            .hidden#hidden-content09
              .inner
                %h5 What payment methods do you accept?
                %p We accept credit card, debit card, paypal, neteller, alipai, webmoney, bitcoin and western union. We also accept bank transfer on request  for large purchases.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content10", :href => "javascript:;"}
              How do I ask for a refund?
            .hidden#hidden-content10
              .inner
                %h5 How do I ask for a refund?
                %p To ask for a refund within the 7-day money back period, drop us a line with your order number and the refund will be issued in the next  15 days. Kindly note that purchases made with a discount code are not eligible for a refund, as stated in the terms and conditions and also in the checkout page.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content11", :href => "javascript:;"}
              Can I refund a mql5.com purchase?
            .hidden#hidden-content11
              .inner
                %h5 Can I refund a mql5.com purchase?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/demo.png", :width => "420"}
                %p No, you can't. The refund policy is only applicable to purchases made in pointzero-trading.com. The metatrader market does not give sellers the option to cancel the licenses and refund the order.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content12", :href => "javascript:;"}
              Do you offer discounts?
            .hidden#hidden-content12
              .inner
                %h5 Do you offer discounts?
                %p We make special discounts from time to time, stay tuned! We can also make a discount if you buy several items in a single order, drop us   a line!
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content13", :href => "javascript:;"}
              Do you offer discounts for mql5.com purchases?
            .hidden#hidden-content13
              .inner
                %h5 Do you offer discounts for mql5.com purchases?
                %p No, we don't. The site mql5.com does not support discount codes.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content14", :href => "javascript:;"}
              Do you offer demos or trials?
            .hidden#hidden-content14
              .inner
                %h5 Do you offer demos or trials?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/demo.png", :width => "420"}
                %p Yes, we do! You can download demos of every product from the Metatrader Market. Kindly note that demos only work in the tester. But we do not offer fully-functional trials because support costs would skyrocket for us.
      .col
        %h4 Indicators
        %ul
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content15", :href => "javascript:;"}
              I don't see the indicator listed on MT4
            .hidden#hidden-content15
              .inner
                %h5 I don't see the indicator listed on MT4
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/data_folder.png", :width => "420"}
                %p
                  Kindly note that since the Metatrader4 b600 update, indicators are no longer stored in C:/Program_Files/Metatrader/experts/indicators. Instead, indicators must be saved in the data folder of Metatrader4.
                  %br
                  %br
                  Follow these steps.
                  %br
                  1) Open Metatrader.
                  %br
                  2) Click File - Open Data Folder. A browser will open.
                  %br
                  3) Store the .ex4 file in mql4/indicators.
                  %br
                  4) Restart MT4.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content16", :href => "javascript:;"}
              The indicator loads but displays nothing
            .hidden#hidden-content16
              .inner
                %h5 The indicator loads but displays nothing
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/dll_perm.png", :width => "420"}
                %p
                  If the indicator displays nothing, make sure of the following.
                  %br
                  %br
                  1) Make sure to enable DLL Calls in your platform
                  %br
                  2) Make sure to be connected to your broker account
                  %br
                  3) If you have renamed the indicator file, restore the original filename
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content17", :href => "javascript:;"}
              The indicator is missing functionality
            .hidden#hidden-content17
              .inner
                %h5 The indicator is missing functionality
                %p
                  Some indicators are recursive and call themselves. Make sure to have saved the indicator in mql4/indicators, and not in a sub-folder. If   the indicator is in a sub-folder, the recursive call will fail and some features of the indicator will be missing.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content18", :href => "javascript:;"}
              The indicator crashes my metatrader platform!
            .hidden#hidden-content18
              .inner
                %h5 The indicator crashes my metatrader platform!
                %p
                  Some indicators, for example pz-wolfe-waves or pz-harmonic-trading, depend on the zig-zag indicator. Make sure to have the zig-zag indicator installed and compiled in mql4/indicators. You can download the zig-zag indicator
                  =link_to 'from here', 'https://www.mql5.com/en/code/download/7796/ZigZag.mq4'
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content19", :href => "javascript:;"}
              I get a "DLL not allowed" error!
            .hidden#hidden-content19
              .inner
                %h5 I get a "DLL not allowed" error!
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/dll_perm.png", :width => "420"}
                %p Make sure to enable DLL calls in your metatrader plaform.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content20", :href => "javascript:;"}
              I don't see any backtest results for indicators!
            .hidden#hidden-content20
              .inner
                %h5 I don't see any backtest results for indicators!
                %p Indicators are software plug-ins which only load on your chart and plot visual information, but indicators can't trade for you and thus  cannot be backtested in the strategy tester.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content21", :href => "javascript:;"}
              Which are the best parameters?
            .hidden#hidden-content21
              .inner
                %h5 Which are the best parameters?
                %p When it comes to indicators, optimization is not really necessary. The best parameters are the default parameters: that is why they were   selected as such by the developer.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content22", :href => "javascript:;"}
              I get a license denied error!
            .hidden#hidden-content22
              .inner
                %h5 I get a license denied error!
                %p The indicator filename has your license number appended to it. If you renamed the indicator file the license check will fail. If so,   please restore the original filename of the indicator. If the problem persists, you might be behind a firewall and you should look into that.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content23", :href => "javascript:;"}
              Does it work on renko charts?
            .hidden#hidden-content23
              .inner
                %h5 Does it work on renko charts?
                %p All indicators will load into an offline chart, but there is no point. Renko charts are not price action, but an over-simplification of  reality: the market is bidimensional, price and time are just as important. If you use renko charts, our indicators will not be useful to you.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content24", :href => "javascript:;"}
              Does it work on offline mode?
            .hidden#hidden-content24
              .inner
                %h5 Does it work on offline mode?
                %p No, it won't. All of our products require you to be connected to your broker account. If you are not connected to your account, the  indicator will not load.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content25", :href => "javascript:;"}
              Does it implement alerts?
            .hidden#hidden-content25
              .inner
                %h5 Does it implement alerts?
                %p Yes! All indicators implement visual, sound, email and push alerts.
          %li
            %a{"data-fancybox" => "", "data-src" => "#hidden-content26", :href => "javascript:;"}
              How do I configure mail alerts?
            .hidden#hidden-content26
              .inner
                %h5 How do I configure mail alerts?
                %img{:src => "http://www.pointzero-trading.com/webroot/images/tips/mail.png", :width => "420"}
                %p Metatrader uses your own mail server to send email alerts. You must enter your mail server and credentials into your metatrader settings. Then, enable mail alerts in the indicator inputs.
    .text-center
      %h3 Can’t find the answer to your question? We are happy to help.
      %p
        %strong=link_to 'SUBMIT A TICKET ›', 'ticket'

%footer
  .container
    .cols
      .col30
        .logo
          =link_to image_tag('pz-logo.png', alt: 'PZ Logo')
          %p Our mission is to create top-quality and unique trading tools for the Metatrader Platform. If you like our free indicators and EAs, kindly consider buying a product to support our work.
          .social-mini.only-mobile
            =link_to image_tag('icons/fb.svg'), '#'
            =link_to image_tag('icons/tw.svg'), '#'
      .col30
        %h4 JOIN OUR MAILING LIST
        %p Receive free indicators and expert advisors directly to your inbox as soon as they are released.
        %form.newsletter
          %input{type: 'text', placeholder: 'Enter your Email...'}
          %input{type: 'submit', value: '›'}
      .col30
        %nav
          %h4 PRODUCTS
          %ul
            %li=link_to 'Metatrader Indicators', '#'
            %li=link_to 'Metatrader Expert Advisors', '#'
            %li=link_to 'Free Metatrader Indicators', '#'
            %li=link_to 'Free Metatrader EAs', '#'
            %li=link_to 'Free MT4 Indicators and EAs', '#'
            %li=link_to 'Forex Rebates', '#'
        .social
          %h4 SOCIAL
          %ul
            %li
              =link_to '#' do
                %span.icon=image_tag('icons/fb.svg')
                Facebook
            %li
              =link_to '#' do
                %span.icon=image_tag('icons/tw.svg')
                Twitter
    %nav.legals
      %ul
        %li © 2017 This site is owned and operated by PZ Trading Ltd. Registration Number 2531079 (Hong Kong)
        %li=link_to 'Privacy Policy', '#'
        %li=link_to 'Terms & Conditions', '#'
  .dmca
    .container
      =image_tag('icons/dmca.png')
      %p Protection: All original content on Pointzero-trading.com is created by the website owner, including but not limited to text, design, code, images, photographs and videos are considered to be the Intellectual Property of the website owner, whether copyrighted or not, and are protected by DMCA Protection Services using the Digital Millennium Copyright Act Title 17 Chapter 512 (c)(3). Reproduction or re-publication of this content is prohibited without permission.
