---
title: PZ - Help Page
---

%header
	.container
		.logo
			=link_to image_tag('pz-logo.png', alt: 'PZ Logo'), '/'
		%nav
			%ul
				%li.submenu
					=link_to 'Products', 'products'
					%ul
						%li=link_to 'Indicators', 'products'
						%li=link_to 'Expert Advisors', 'products'
						%li=link_to 'Free Download', 'products'
				%li=link_to 'Cashback Program', 'cashback-program'
				%li=link_to 'Help', 'help-page'
		.social
			=link_to image_tag('icons/fb.svg', alt: 'facebook'), 'http://www.facebook.com', target: '_blank'
			=link_to image_tag('icons/tw.svg', alt: 'twitter'), 'http://www.twitter.com', target: '_blank'
		.search
			%form
				%input{type: 'text', placeholder: 'Search..'}
%section
	.breadcrumb
		.container
			%ul
				%li=link_to 'Home', '/'
				%li Help
%section.page-help
	.container
		%h1 Customer Support
		%h3 Please find answers to the most common questions below.
		.cols
			.col
				%h4 General Questions
				%ul
					%li
						%label{:for => "modal-1"}
							.modal-trigger How are products delivered?
					%li
						%label{:for => "modal-1"}
							.modal-trigger How long does delivery take?
					%li
						%label{:for => "modal-1"}
							.modal-trigger Is the installation difficult?
					%li
						%label{:for => "modal-1"}
							.modal-trigger Do I have to pay for future updates?
					%li
						%label{:for => "modal-1"}
							.modal-trigger How do I download future updates?
					%li
						%label{:for => "modal-1"}
							.modal-trigger What Metatrader version do I need?
					%li
						%label{:for => "modal-1"}
							.modal-trigger Can I get the source code of the product?
					%li
						%label{:for => "modal-1"}
							.modal-trigger What payment methods do you accept?
					%li
						%label{:for => "modal-1"}
							.modal-trigger How do I ask for a refund?
					%li
						%label{:for => "modal-1"}
							.modal-trigger Can I refund a mql5.com purchase?
					%li
						%label{:for => "modal-1"}
							.modal-trigger Do you offer discounts?
					%li
						%label{:for => "modal-1"}
							.modal-trigger Do you offer discounts for mql5.com purchases?
					%li
						%label{:for => "modal-1"}
							.modal-trigger Do you offer demos or trials?
			.col
				%h4 Indicators Questions
				%ul
					%li
						%label{:for => "modal-1"}
							.modal-trigge I don't see the indicator listed on MT4
					%li
						%label{:for => "modal-1"}
							.modal-trigge The indicator loads but displays nothing.
					%li
						%label{:for => "modal-1"}
							.modal-trigge The indicator is missing functionality.
					%li
						%label{:for => "modal-1"}
							.modal-trigge The indicator crashes my metatrader platform!
					%li
						%label{:for => "modal-1"}
							.modal-trigge I get a "DLL not allowed" error!
					%li
						%label{:for => "modal-1"}
							.modal-trigge I don't see any backtest results for indicators!
					%li
						%label{:for => "modal-1"}
							.modal-trigge I get a license denied error!
					%li
						%label{:for => "modal-1"}
							.modal-trigge Which are the best parameters?
					%li
						%label{:for => "modal-1"}
							.modal-trigge Does it work on renko charts?
					%li
						%label{:for => "modal-1"}
							.modal-trigge Does it work on offline mode?
					%li
						%label{:for => "modal-1"}
							.modal-trigge Does it implement alerts?
					%li
						%label{:for => "modal-1"}
							.modal-trigge How do I configure mail alerts?
		.text-center
			%h3 Can’t find the answer to your question? We are happy to help.
			%p
				%strong=link_to 'SUBMIT A TICKET ›', 'ticket'

%footer
	.container
		.cols
			.col30
				.logo
					=link_to image_tag('pz-logo.png', alt: 'PZ Logo')
					%p Our mission is to create top-quality and unique trading tools for the Metatrader Platform. If you like our free indicators and EAs, kindly consider buying a product to support our work.
			.col30
				%h4 JOIN OUR MAILING LIST
				%p Receive free indicators and expert advisors directly to your inbox as soon as they are released.
				%form.newsletter
					%input{type: 'text', placeholder: 'Enter your Email...'}
					%input{type: 'submit', value: '›'}
			.col30
				%nav
					%h4 PRODUCTS
					%ul
						%li=link_to 'Metatrader Indicators', '#'
						%li=link_to 'Metatrader Expert Advisors', '#'
						%li=link_to 'Free Metatrader Indicators', '#'
						%li=link_to 'Free Metatrader EAs', '#'
						%li=link_to 'Free MT4 Indicators and EAs', '#'
						%li=link_to 'Forex Rebates', '#'
				.social
					%h4 SOCIAL
					%ul
						%li
							=link_to '#' do
								%span.icon=image_tag('icons/fb.svg')
								Facebook
						%li
							=link_to '#' do
								%span.icon=image_tag('icons/tw.svg')
								Twitter
		%nav.legals
			%ul
				%li © 2017 This site is owned and operated by PZ Trading Ltd. Registration Number 2531079 (Hong Kong)
				%li=link_to 'Privacy Policy', '#'
				%li=link_to 'Terms & Conditions', '#'
	.dmca
		.container
			=image_tag('icons/dmca.png')
			%p Protection: All original content on Pointzero-trading.com is created by the website owner, including but not limited to text, design, code, images, photographs and videos are considered to be the Intellectual Property of the website owner, whether copyrighted or not, and are protected by DMCA Protection Services using the Digital Millennium Copyright Act Title 17 Chapter 512 (c)(3). Reproduction or re-publication of this content is prohibited without permission.
.modal
	%input#modal-1.modal-state{:type => "checkbox"}
	.modal-fade-screen
		.modal-inner
			.modal-close{:for => "modal-1"}
			%h1 Modal Title
			%p Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
			=image_tag('http://www.pointzero-trading.com/webroot/model_files/Product/images/1/trend_trading_params.png')
			%p Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.

