---
title: PZ - Support Ticket
---

%header
	.container
		.logo
			=link_to image_tag('pz-logo.png', alt: 'PZ Logo'), './'
		%nav
			%ul
				%li.submenu
					=link_to 'Products', '.products'
					%ul
						%li=link_to 'Indicators', './products'
						%li=link_to 'Expert Advisors', './products'
						%li=link_to 'Free Download', './products'
				%li=link_to 'Cashback Program', './cashback-program'
				%li=link_to 'Help', './help-page'
		.social
			=link_to image_tag('icons/fb.svg', alt: 'facebook'), 'http://www.facebook.com', target: '_blank'
			=link_to image_tag('icons/tw.svg', alt: 'twitter'), 'http://www.twitter.com', target: '_blank'
		.search
			%form
				%input{type: 'text', placeholder: 'Search..'}
%section
	.breadcrumb
		.container
			%ul
				%li=link_to 'Home', './'
				%li=link_to 'Products', './products'
				%li=link_to 'Metatrader Expert Advisor', './product-page'
				%li Safety Net EA
%section.checkout
	.container
		%aside
			.about
				=image_tag('arthur.png')
				.text
					%strong
						Arthur Lopez
					%br
					Founder of PZ Trading
					%br
					%br
					Private investor and speculator<br>
					Software analyst and developer<br>
					Enthusiastic trader
			%hr
			%h4 Email address
			%p=link_to 'help@pointzero-trading.com', 'mailto:help@pointzero-trading.com'
			%h4 Skype
			%p
				pztrading
				=link_to '(click to add me)', '#'
			%h4 Working hours
			%p
				Accepting requests 24/7 <br>
				Support available 8AM - 5PM GMT-5 <br>
				Monday-Friday
			%h4 Mailing Address
			%p
				Pz Trading Ltd<br>
				Unit 808/8F, Star Hse 3,<br>
				Salisbury Road, <br>
				Tsi Sha Tsui<br>
				Hong Kong.
			%hr
			%h4 Good to know
			%ul
				%li Support is only offered to rightful customers regarding commercial products.
				%li If your message is about a free download, you might not receive a reply.
				%li
					This is not a trading school: you should look for trading education or coaching someplace else. Perhaps you can
					=link_to 'start here', '#'
				%li We can take up to 48 hours to issue a reply, especially on weekends. Please, have some patience.
				%li Unpolite messages are ignored.
				%li Feedback is always welcomed!


		%article
			.alert
				.icon=image_tag('icons/alert.png')
				%h3 Oooops! Some errors were found...
				%p - You must provide a valid email address.
			%h1 Open a Support Ticket
			%h3 Kindly use the following form to open a support ticket. All fields are mandatory.
			%form.checkout-form
				%fieldset
					%h2 1. How can we contact you?
					%label Full Name
					%input{type: 'text'}
					%label
						Email address
						%small (make sure to enter a valid email address)
					%input{type: 'email'}
					%label What is your message about?
					%select
						%option General Question
						%option Other
					%label Where are you from?
					%select
						%option Please choose
						%option Other
					%label Are you a customer?
					%select
						%option No, I am not
						%option Yes, I am
				%fieldset
					%h2 2. Write your message?
					%textarea
				%fieldset
					%h2 3. Solve this easy math problem!
					%label
						What’s 12+9?
						%small (just to avoid spam)
					%input{type: 'text'}
				.bottom
					.checkbox
						%label

							%input{type:'checkbox', checked: 'checked'}
							%span.helper
								I have read and accept the
								=link_to 'Terms and Conditions', '#'
								and
								=link_to 'Privacy Policy', '#'
					%input.button.btn-blue{type:'submit', value: 'Send'}

%footer
	.container
		.cols
			.col30
				.logo
					=link_to image_tag('pz-logo.png', alt: 'PZ Logo')
					%p Our mission is to create top-quality and unique trading tools for the Metatrader Platform. If you like our free indicators and EAs, kindly consider buying a product to support our work.
			.col30
				%h4 JOIN OUR MAILING LIST
				%p Receive free indicators and expert advisors directly to your inbox as soon as they are released.
				%form.newsletter
					%input{type: 'text', placeholder: 'Enter your Email...'}
					%input{type: 'submit', value: '›'}
			.col30
				%nav
					%h4 PRODUCTS
					%ul
						%li=link_to 'Metatrader Indicators', '#'
						%li=link_to 'Metatrader Expert Advisors', '#'
						%li=link_to 'Free Metatrader Indicators', '#'
						%li=link_to 'Free Metatrader EAs', '#'
						%li=link_to 'Free MT4 Indicators and EAs', '#'
						%li=link_to 'Forex Rebates', '#'
				.social
					%h4 SOCIAL
					%ul
						%li
							=link_to '#' do
								%span.icon=image_tag('icons/fb.svg')
								Facebook
						%li
							=link_to '#' do
								%span.icon=image_tag('icons/tw.svg')
								Twitter
		%nav.legals
			%ul
				%li © 2017 This site is owned and operated by PZ Trading Ltd. Registration Number 2531079 (Hong Kong)
				%li=link_to 'Privacy Policy', '#'
				%li=link_to 'Terms & Conditions', '#'
	.dmca
		.container
			=image_tag('icons/dmca.png')
			%p Protection: All original content on Pointzero-trading.com is created by the website owner, including but not limited to text, design, code, images, photographs and videos are considered to be the Intellectual Property of the website owner, whether copyrighted or not, and are protected by DMCA Protection Services using the Digital Millennium Copyright Act Title 17 Chapter 512 (c)(3). Reproduction or re-publication of this content is prohibited without permission.


